<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/github">login with GitHUb</a>
    <a href="/auth/google" style="display: block">login with GOOGLE</a>
    <br />
    <a href="/register" style="display: block">Register User Form</a>
    <a href="/localLogin">Local Login</a>
  </body>
</html>
